/* Navigation.module.css */

.navContainer {
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Distribute items evenly along the main axis */
  margin: 0;
  align-items: center;
  padding: 10px 0;
  border-bottom: 2px solid #FF8210;
  height: 100px;

}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navList li {
  margin-right: 20px; /* Adjust margin as needed */
  text-decoration: none; /* Remove underline */
}

.navLink {
  margin-right: 20px; /* Adjust spacing between items */
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  border-bottom: 2px solid transparent;
}

.navLink:hover{
  border-bottom: 2px solid #A754C8;
  color: #FF8210;
  transition: color 0.2s ease-in-out;
}

.navLink {
  text-decoration: none;
  color: #FAFAFA;
  display: inline-flex;
}

.logo {
  margin-left: 1vw;
}
