/* Navigation Styles */

.navContainer {
  display: flex;
  flex-direction: column; /* Allows stacking of the nav and menu on small screens */
  align-items: center;
  padding: 20px 0;
  border-bottom: 2px solid rgb(113, 79, 11);
  width: 100%; /* Ensure the container spans the full width */
  background-color: #1C1C1C;

}

.topNav {
  display: flex;
  justify-content: space-between; /* Space between logo and navigation/hamburger */
  align-items: center;
  width: 100%; /* Ensure the container spans the full width */
  padding: 0 20px; /* Add padding to the sides */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.logo {
  margin: 0; /* Remove margins to ensure alignment */
  margin-left: 5vw;
  flex-shrink: 0; /* Prevent the logo from shrinking */
}

.hamburger {
  display: none; /* Hide by default */
  cursor: pointer;
}

.navList {
  align-items: center;
  display: flex;
  flex-direction: row; /* Horizontal layout */
  list-style: none; /* Remove bullet points */
  padding: 0;
  margin: 0;
  margin-right: 5vw;
}

.navListMobile {
  display: none; /* Hide by default */
  flex-direction: column; /* Vertical layout */
  list-style: none; /* Remove bullet points */
  padding: 0;
  margin-top: 20px;
  width: 100%; /* Full width */
  background-color: #202020; /* Dark background for the mobile menu */
  color: #fff; /* Light text color for contrast */
  border-top: 2px solid rgb(113, 79, 11); /* Separate the mobile menu with a border */
}

.navListMobile li {
  padding: 10px 20px; /* Add padding to each list item for spacing */
  border-bottom: 1px solid #202020; /* Optional: add a border between items for better separation */
  margin-top: 10px;
}

.navList li {
  margin-right: 20px; /* Space between navigation links */
}

.navLink {
  display: inline-flex;
  align-items: center;
  text-decoration: none; /* Remove underline from links */
  transition: color 0.2s ease-in-out;
  position: relative;

  color: inherit; /* Use the parent's text color */
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  border-bottom: 2px solid transparent; /* Prepare for hover effect */
  padding: 10px 0; /* Add padding to the links */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide any overflowing text */
  text-overflow: ellipsis; /* Show ellipsis (...) if text is too long */
}


.navLink:hover {
  border-bottom: 2px solid #A754C8;
  line-height: 3px;
  color: #FF8210;
  transition: color 0.2s ease-in-out;
}

.navLink:hover + .fa-angle-down {
  color: #FF8210;
  transition: color 0.2s ease-in-out;
}


@media (max-width: 768px) {
  .hamburger {
    display: flex; /* Show the hamburger menu on small screens */
    align-items: center;
  }

  .navList {
    display: none; /* Hide the horizontal navigation links on small screens */
  }

  .navListMobile {
    display: flex; /* Show the vertical navigation links when the hamburger menu is opened */
  }

  .topNav {
    flex-direction: row; /* Ensure the logo and hamburger are in a row */
    justify-content: space-between; /* Space them evenly */
    width: 100%; /* Full width of the screen */
  }
}

.menu_span{
  margin-left: 5px;
}


.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  z-index: 1000;
  display: none;
  border: none;
}

.submenuLink {
  display: block;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  white-space: nowrap;
  border-top: 2px solid #FF8210;

  width: 100%;
  transition: background-color 0.2s ease-in-out;
}

.submenuLink:hover {
  background-color: #f1f1f1;
}

.navList li:hover > .submenu {
  display: block;
}