/* styles.module.css */
.footerLeft {
    flex: 0;
    margin-left: 50px;
    margin-right: 35vw
}

.footerRight {
    flex: 1;
    margin-right: 50px;
}

.followUs {
    color: #fff;
    font-size: 20px;
    margin-top: 25vh;
    display: block;
    width: 10vw;
    line-height: 1.4;
    font-family: Arial Black,Gadget,sans-serif;
    font-weight: 500;
    word-wrap: break-word;
}

.footerInput {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    font-size: 1rem;
    color: black;
    margin-bottom: 10px;
}

.gdprCheckbox {
    width: 1.5rem;
    height: 1.5rem;
}

.submitButton {
    padding: 0.75rem 1.5rem;
    background-color: #A754C8;
    color: #fff;
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.5s;
}

.submitButton:hover {
    background-color: #FFFFFF;
    color: black;
    transition: background-color 0.25s;
}

.formTitle{
    font-family: Arial Black,Gadget,sans-serif;
    font-weight: 500;
    line-height: 1.4;
    font-size: 45px;

}

.footerLogo{
    align-self:flex-start;
    width: 142px;
    height: 40px;
    position: relative
}
