.image_container {
  position: relative;
}

.image_container .image1, .image_container .image2 {
  position: absolute;
  opacity:0;
}

.image_container .image1{
  left: 10%;
}

.image_container .image2{
  left: 27%;
  margin-top: 30vh;
  width: 47%;
}
